[Desktop Entry]
Version=1.0
Name=YouTube
Comment=Youtube
Exec=/usr/bin/bash /home/dmitrylito/.local/bin/chromium-profile-launch "Personal" webapp "https://youtube.com"
Terminal=false
Type=Application
Icon=/home/dmitrylito/.local/share/applications/icons/Youtube.png
StartupNotify=true
