[Desktop Entry]
Version=1.0
Name=Dialpad
Comment=Dialpad
Exec=omarchy-launch-webapp "https://dialpad.com/app/" --profile-directory="Profile 1"
Terminal=false
Type=Application
Icon=/home/dmitrylito/.local/share/applications/icons/Dialpad.png
StartupNotify=true
