[Unit]
Description=Lidarr
After=network-online.target

[Container]
Image=lscr.io/linuxserver/lidarr:latest
AutoUpdate=registry
Pod=media.pod
Environment=PUID=0
Environment=PGID=0
Environment=TZ=America/New_York
HealthCmd=curl -fsS http://127.0.0.1:8686/ping
HealthInterval=30s
HealthTimeout=10s
HealthRetries=3
HealthStartPeriod=60s
Volume=/home/dmitrylito/docker-appdata/lidarr:/config:Z
Volume=/scratch:/scratch:z
Volume=/data/media:/data/media:z
Volume=/data/media/music:/data/music:z

[Install]
WantedBy=default.target

[Service]
Restart=always
