[Unit]
Description=Radarr
After=network-online.target

[Container]
Image=lscr.io/linuxserver/radarr:latest
AutoUpdate=registry
Pod=media.pod
Environment=PUID=0
Environment=PGID=0
Environment=TZ=America/New_York
HealthCmd=curl -fsS http://127.0.0.1:7878/ping
HealthInterval=30s
HealthTimeout=10s
HealthRetries=3
HealthStartPeriod=60s
Volume=/home/dmitrylito/docker-appdata/radarr:/config:Z
Volume=/scratch:/scratch:z
Volume=/data/media:/data/media:z
Volume=/data/media/movies:/data/movies:z

[Service]
Restart=always

[Install]
WantedBy=default.target
